<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/draggable.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/draggable.js"></script>

  </head>

  <body>

    <% include ./partials/_nav-bar %>

    <!-- Content -->
    <main class='container'>

      <section class='well'>
        <div><p>Poll Question: <%= poll.question %></p></div>
        <div><p>Event Date: <%= poll.datetime_event %></p></div>
      </section>

      <section class='well'>
        <h2>Rearrange</h2>
        <p>Drag options from favourite to least favourite:</p>
        <form method=POST action='/answer/<%= poll.poll_id %>/<%= user_id %>/<%= url_id %>'>
          <ul id='sortable'>
            <% for (let options of choices) { %>
              <li>
                <fieldset class='choices' name="<%= `${options[1]}` %>" multiple>
                  <%= `${options[0]}` %>
                </fieldset>
              </li>
            <% } %>
          </ul>
          <button type='submit'>Submit</button>
        </form>

      </section>

    </main>
  </body>
</html>
